.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url('../images/bg-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
        background: linear-gradient(180deg, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url('../images/bg-mobile-2x.jpg');
        background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    }
    @media screen and (min-width: 768px) {
            padding-top: 118px;
            padding-bottom: 118px;
            background: linear-gradient(180deg, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)),
            url('../images/bg-tablet.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                background: linear-gradient(180deg, 
                rgba(47, 48, 58, 0.4), 
                rgba(47, 48, 58, 0.4)),
                url('../images/bg-tablet-2x.jpg');
                background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    }
        }
    @media screen and (min-width: 1200px) {
            max-width: 1600px;
            padding-top: 200px;
            padding-bottom: 200px;
            background: linear-gradient(180deg, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)),
            url('../images/bg-desktop.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                background: linear-gradient(180deg, 
                rgba(47, 48, 58, 0.4), 
                rgba(47, 48, 58, 0.4)),
                url('../images/bg-desktop-2x.jpg');
                background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    }
        }
    
    &__title {
        font-weight: 900;
        font-size: 24px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
        padding-left: 60px;
        padding-right: 60px;
        @media screen and (min-width: 768px) {
            font-size: 26px;
            padding-left: 189px;
            padding-right: 189px;
        }
         @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
            padding-left: 237px;
            padding-right: 237px;
        }
    }
}



// .hero {
//     padding-top: 200px;
//     padding-bottom: 200px;
//     height: 600px;
//     max-width: 1600px;
//     margin-left: auto;
//     margin-right: auto;
//     background: linear-gradient(180deg, 
//     rgba(47, 48, 58, 0.4), 
//     rgba(47, 48, 58, 0.4)),
//     url('../images/bg.jpg');
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     &__title {
//         font-weight: 900;
//         font-size: 44px;
//         line-height: 1.36;
//         text-align: center;
//         letter-spacing: 0.06em;
//         text-transform: uppercase;
//         color: #FFFFFF;
//         margin-bottom: 30px;
//         padding-left: 237px;
//         padding-right: 237px;
//     }
// }