.second-title {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    @media (min-width: 768px) {
        font-size: 36px;
    }
}